<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.asu.bsse.tsjorda1.plactester">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="edu.asu.bsse.tsjorda1.plactester.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.asu.bsse.tsjorda1.plactester.LocationDetailActivity" />
        <activity android:name="edu.asu.bsse.tsjorda1.plactester.CalculationsActivity" />
        <activity android:name="edu.asu.bsse.tsjorda1.plactester.AddNewActivity" />
        <activity android:name="edu.asu.bsse.tsjorda1.plactester.EditActivity" />
        <activity android:name="edu.asu.bsse.tsjorda1.plactester.DeleteActivity" />
    </application>

</manifest>